.calculator {
    width: 370px;
    background-color: #333;
    padding: 10px;
    border-radius: 5px;
}

.display {
    padding: 0 10px;
    background-color: #ccc;
    height: 90px;
    font-size: 36px;
    line-height: 2;
    font-weight: bold;
}

.keyboard {
    margin-top: 4px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 4px;
}

.item {
    font-family: "Tahoma", sans-serif;
    font-weight: bold;
    padding: 20px;
    background-color: #666;
    color: #fff;
    border: none;
    outline: none;
    font-size: 26px;
}

.item_clean {
    background-color: #dc3545;
}

.item_clean-entry {
    background-color: #dca028;
}

.item_plus {
    grid-column: 4;
    grid-row: 4/6;
}

.item:focus {
    outline: 0;
}